html, body {
    width: 100%;
    height: 100vh;
    background-color: white;
    font-size: 15pt;
}

footer {
    margin-top: -30px;
}

ul{
    display: inline;
    list-style: none;
}

.main-title{
    font-size:50px;
    margin: 80px 0px 40px;
    letter-spacing: 2px;
    text-align: center;
}

.main-title-details{
    font-size:50px;
    margin: 190px 0px 40px;
    letter-spacing: 2px;
    text-align: center;
}

#mainDataTable{
    margin-bottom: 60px;
}

#mainDataTable_wrapper{
    margin-bottom: 120px;
}

.input-sm{
    width: 350px;
    margin: 10px auto;
}

.form-actions{
    width: 150px;
    margin: 90px auto 0px;
}

.nav.navbar-nav {
    float: right!important;
}

input.btn.btn-block.btn-primary.btn-default{
    margin: 12px 0 0 50px;
}

#details-labels li div{
    font-size: 15pt;
    margin-right: 30px;
}

#details-values{
    width: 100%;
    text-align:center;
}

#details-values li input{
    font-size: 15pt;
    width: 200px;
}

#details-values li div{
    font-size: 15pt;
    width: 200px;
}

#ok-btn{
    margin-top: 40px;
    text-align: center;
}

.inputForm{
    margin: 0px auto 0px;
    alignment: center;
    max-width: 500px;
}

.detailsForm{
    margin: 0px auto 0px;
    alignment: center;
    max-width: 500px;
}

.input-group{
    margin: 0px auto 20px auto;
}

.details-input-group{
    width: 100%;
}

#sizing-addon1{
    width: 150px;
}
#sizing-addon2{
    width: 150px;
}
#sizing-addon3{
    width: 150px;
}

#input-controls{
    margin: 65px auto 0px auto;
}

#input-filter-textbox{
    width: 250px;
    float: right;
    height: 32px;
}

#input-filter-btn{
    width: 150px;
    float: right;
    height: 100%;
}

#top-row{
    margin-bottom: 40px;
}

#page-info{
    margin-right: 25px;
    margin-top: 25px;
    font-size: 15pt;
}

/*****************************************************MEDIA****************************************************************************/

/* Large desktop - >1350*/
@media (min-width: 1350px) {

}

/* Medium Desktop - 980	-------	1349*/
@media (min-width: 980px) and (max-width: 1349px) {

}

/* Custom 980px ------- 1200px */
@media (min-width: 980px) and (max-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
/*  768px ------- 979px */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
/* Small Screen <768*/
@media (max-width: 767px) {

}

/* Landscape phones and down */
/* Xtra Small <480*/
@media (max-width: 480px) {

}

/*END:MEDIA*/