<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"
          media="screen"/>
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css" media="screen"/>
    <script th:src="@{/js/jquery-3.1.1.js}"/>
    <script th:src="@{/js/jquery.dataTables.min.js}"/>
    <script>
        $(document).ready(function () {
            $('#mainDataTable').DataTable({});
        });
    </script>
    <title>Sequence Generator</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">AG04</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><h3 th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]]</h3></li>
                <li>
                    <form class="navbar-form" th:action="@{/logout}" method="post">
                        <div class="form-group">
                            <input class="btn btn-block btn-primary" type="submit" value="Logout"/>
                        </div>
                    </form>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="main-title">
        Documents Sequence Generator
    </div>
    <div id="top-row" class="row">
        <div class="col-md-6">
            <a th:href="@{'/input'}" id="claim-new" class="btn btn-success btn-lg" type="button">Claim new</a>
        </div>
    </div>
    <div>
        <table id="mainDataTable" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Number</th>
                <th>Submitted By</th>
                <th>Purpose</th>
                <th>Date</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Number</th>
                <th>Submitted By</th>
                <th>Purpose</th>
                <th>Date</th>
            </tr>
            </tfoot>
            <tbody>
            <tr th:each="entry : ${entries}">
                <td><a th:text="${entry.formattedsequence}" th:href="@{/details(id=${entry.id})}"></a></td>
                <td th:text="${entry.author}"></td>
                <td th:text="${entry.purpose}"></td>
                <td th:text="${entry.dateTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>