<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="screen"/>
    <title>Doc Seq Gen</title>
</head>
<body>
<div class="container">
    <div class="main-title-login">
        Documents Sequence Generator
    </div>
    <div class="alert alert-danger" th:if="${param.error}">
        Invalid username and password.
    </div>
    <div class="alert alert-success" th:if="${param.logout}">
        You have been logged out.
    </div>
    <form class="form-horizontal" th:action="@{/login}" method="post">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">un</span>
            <input type="text" class="form-control" placeholder="your username" aria-describedby="sizing-addon1"
                   name="username"/>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon2">pw</span>
            <input type="password" class="form-control" placeholder="you password" aria-describedby="sizing-addon2"
                   name="password"/>
        </div>
        <div id="ok-btn">
            <input class="btn btn-primary btn-lg" type="submit" value="Login"/>
        </div>
    </form>
</div>
</body>
</html>